---
import "./style.css"
---
<header class="container">
    <div id="particles-js"></div>
    <div class="zIndex">
        <div class="typewriter">
            <h1>Hi! I'm Valentina Werle</h1>
        </div>
        <p>A software developer from Argentina</p>
        <button id="resume-btn">My Resume</button>
    </div>
</header>
<script is:inline src="src/particles.js"></script>
<script is:inline src="src/app.js"></script>